{% include directory ~ '/partials/header.html.twig' %}

<div class="container">
  <main role="main">
    <a id="main-content" tabindex="-1"></a>{# link is in html.html.twig #}
    
    {% if page.sidebar %}
      <aside class="layout-sidebar-first" role="complementary" data-sticky-container>
            
            <div class="sticky" data-sticky data-margin-top="0">
          
              {{ page.sidebar }}
            </div>
        
      </aside>
    {% endif %}


    <div class="layout-content">
      <div class="article-list">
        {{ page.content }}
        </div>
    </div>{# /.layout-content #}

    

  </main>
</div>{# /.layout-container #}

{% include directory ~ '/partials/footer.html.twig' %}