<div class="container-front">
    <header class="main-header-front" role="banner">
        {{ page.header }}

        <div class="main-navigation">
            {{ page.main_navigation }}
        </div>

        
     </header>
     <div class="banner-front">     
          {{ page.banner }}
       
     	</div>
      
</div>
